USE [master]
GO
/****** Object:  Database [LMS]    Script Date: 2/3/2023 9:16:23 PM ******/
CREATE DATABASE [LMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LMS]
GO
/****** Object:  Table [dbo].[tbl_Books]    Script Date: 2/3/2023 9:16:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Books](
	[bookId] [int] IDENTITY(1,1) NOT NULL,
	[bookTitle] [varchar](50) NULL,
	[bookEdition] [nvarchar](50) NULL,
	[bookAuthor] [varchar](50) NULL,
	[publisherName] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Books] PRIMARY KEY CLUSTERED 
(
	[bookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_BorrowersRecords]    Script Date: 2/3/2023 9:16:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BorrowersRecords](
	[borrowId] [int] IDENTITY(1,1) NOT NULL,
	[borrowDate] [date] NULL,
	[dueDate] [date] NULL,
	[status] [int] NULL,
	[studentCopies] [nvarchar](50) NULL,
	[bookId] [int] NULL,
	[studentId] [int] NULL,
	[userId] [int] NULL,
 CONSTRAINT [PK_tbl_BorrowersRecords] PRIMARY KEY CLUSTERED 
(
	[borrowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Students]    Script Date: 2/3/2023 9:16:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Students](
	[studentId] [int] IDENTITY(1,1) NOT NULL,
	[studentRollNo] [varchar](50) NULL,
	[studentName] [nvarchar](50) NULL,
	[studentCourse] [nvarchar](50) NOT NULL,
	[studentContact] [nvarchar](50) NULL,
	[studentGender] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 2/3/2023 9:16:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NULL,
	[userContact] [nvarchar](50) NULL,
	[userPassword] [int] NULL,
 CONSTRAINT [PK_tbl_Users] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Books] ON 

INSERT [dbo].[tbl_Books] ([bookId], [bookTitle], [bookEdition], [bookAuthor], [publisherName]) VALUES (1, N'MalcomX', N'3rd', N'Alex Haley', N'Alif')
INSERT [dbo].[tbl_Books] ([bookId], [bookTitle], [bookEdition], [bookAuthor], [publisherName]) VALUES (2, N'Rich Dad Poor Dad', N'1st', N'Robert T Kiyosaki', N'Platam')
INSERT [dbo].[tbl_Books] ([bookId], [bookTitle], [bookEdition], [bookAuthor], [publisherName]) VALUES (3, N'12 Rules For Life', N'1st', N'Jordan Peterson', N'Oxford')
SET IDENTITY_INSERT [dbo].[tbl_Books] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_BorrowersRecords] ON 

INSERT [dbo].[tbl_BorrowersRecords] ([borrowId], [borrowDate], [dueDate], [status], [studentCopies], [bookId], [studentId], [userId]) VALUES (1, CAST(N'2023-01-12' AS Date), CAST(N'2023-01-20' AS Date), 1, N'2', 2, 1, 1)
INSERT [dbo].[tbl_BorrowersRecords] ([borrowId], [borrowDate], [dueDate], [status], [studentCopies], [bookId], [studentId], [userId]) VALUES (3, CAST(N'2023-01-12' AS Date), CAST(N'2023-01-20' AS Date), 0, N'45', 3, 3, 1)
INSERT [dbo].[tbl_BorrowersRecords] ([borrowId], [borrowDate], [dueDate], [status], [studentCopies], [bookId], [studentId], [userId]) VALUES (4, CAST(N'2023-02-06' AS Date), CAST(N'2023-02-17' AS Date), 0, N'2', 2, 1, 2)
SET IDENTITY_INSERT [dbo].[tbl_BorrowersRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Students] ON 

INSERT [dbo].[tbl_Students] ([studentId], [studentRollNo], [studentName], [studentCourse], [studentContact], [studentGender]) VALUES (1, N'20B-100-SE', N'Syed Haris', N'DBMS', N'03160005080', N'M')
INSERT [dbo].[tbl_Students] ([studentId], [studentRollNo], [studentName], [studentCourse], [studentContact], [studentGender]) VALUES (2, N'20B-005-SE', N'Rimmel', N'PE', N'033234150809', N'F')
INSERT [dbo].[tbl_Students] ([studentId], [studentRollNo], [studentName], [studentCourse], [studentContact], [studentGender]) VALUES (3, N'20B-041-SE', N'Sohaib', N'LMS', N'033234150809', N'M')
SET IDENTITY_INSERT [dbo].[tbl_Students] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Users] ON 

INSERT [dbo].[tbl_Users] ([userId], [userName], [userContact], [userPassword]) VALUES (1, N'haris', N'03160005080', 5080)
INSERT [dbo].[tbl_Users] ([userId], [userName], [userContact], [userPassword]) VALUES (2, N'laiba', N'03356080323', 12)
INSERT [dbo].[tbl_Users] ([userId], [userName], [userContact], [userPassword]) VALUES (1003, N'Junaid', N'0221232241', 213)
SET IDENTITY_INSERT [dbo].[tbl_Users] OFF
GO
ALTER TABLE [dbo].[tbl_BorrowersRecords]  WITH CHECK ADD  CONSTRAINT [FK_tbl_BorrowersRecords_tbl_Books] FOREIGN KEY([bookId])
REFERENCES [dbo].[tbl_Books] ([bookId])
GO
ALTER TABLE [dbo].[tbl_BorrowersRecords] CHECK CONSTRAINT [FK_tbl_BorrowersRecords_tbl_Books]
GO
ALTER TABLE [dbo].[tbl_BorrowersRecords]  WITH CHECK ADD  CONSTRAINT [FK_tbl_BorrowersRecords_tbl_Students] FOREIGN KEY([studentId])
REFERENCES [dbo].[tbl_Students] ([studentId])
GO
ALTER TABLE [dbo].[tbl_BorrowersRecords] CHECK CONSTRAINT [FK_tbl_BorrowersRecords_tbl_Students]
GO
ALTER TABLE [dbo].[tbl_BorrowersRecords]  WITH CHECK ADD  CONSTRAINT [FK_tbl_BorrowersRecords_tbl_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[tbl_Users] ([userId])
GO
ALTER TABLE [dbo].[tbl_BorrowersRecords] CHECK CONSTRAINT [FK_tbl_BorrowersRecords_tbl_Users]
GO
USE [master]
GO
